/*
 * Base structure
 */
@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Overpass+Mono|Share+Tech+Mono');
/*font-family: 'Share Tech Mono', monospace;
font-family: 'Overpass Mono', monospace;*/


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0;
}

/*
 * Typography
 */
.sidebar {
  font-family: 'Share Tech Mono', monospace;
}
main h1, main h2, main h3,main h4,main h5,main h6{
  font-family: 'Share Tech Mono', monospace;
  /*color: #0275D8;*/
  text-decoration: underline;
}
main p {
  font-family: 'Overpass Mono', monospace;
}

/*
 * Sidebar
 */
.sidebar {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .nav {
  margin-bottom: 20px;
}
.sidebar .nav-item {
  width: 100%;
}
.sidebar .nav-item + .nav-item {
  margin-left: 0;
}
.sidebar .nav-link {
  border-radius: 0;
}
.navbar-link .active {
  border-radius: 0;
  background-color: rgb(238, 242, 242);
  background-color: rgba(238, 242, 242,0.5);
}

/*Other Elements*/
.list-group-item {
  background-color: rgba(0,0,0,0);
}

.page .navigation {
  position: fixed;
  bottom: 0;
}