.graph {
  background-color: #fbfbfb;
  background-image: linear-gradient(rgba(82, 114, 116, 0.5) 1px, transparent 1px), linear-gradient(#527274 1px, transparent 1px), linear-gradient(90deg, rgba(82, 114, 116, 0.5) 1px, transparent 1px), linear-gradient(90deg, rgba(82, 114, 116, 0.7) 1px, transparent 1px);
  background-size: 10px 10px, 100px 100px, 10px 10px, 100px 100px, 100px 100px, 100px 100px;
}